:root {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  margin: 0;
  padding: 1.2em;
}

main {
  flex-grow: 2;
}

header,
footer {
  width: 100%;
}

.preloader {
  width: 10px;
  height: 10px;
  background-color: #173957;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
