:root {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  margin: 0;
  padding: 1.2em;
}

main {
  flex-grow: 2;
}

header,
footer {
  width: 100%;
}

.preloader {
  width: 10px;
  height: 10px;
  background-color: #173957;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.time {
  display: inline-block;
  background-color: white;
  padding: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, .2);
  border-radius: 6px;
  font-weight: 100;
  font-size: 2rem;
  width: 123px;
  text-align: center;
}

.times {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  margin: 0 -20px;
  margin-bottom: 30px;
}

.times>* {
  margin: 20px;
}
