:root {
  font-family: 'Raleway', sans-serif;
  background-color: #fad0c4;
  min-height: 100vh;
}

small,
small a {
  color: black !important;
}

body {
  margin: 0;
  padding: 1.2em;
}

body>header {
  margin-bottom: 30px;
}

.logo {
  margin-top: 40px;
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, .1));
}

body>main {
  margin-bottom: 100px;
}

body>footer {
  position: fixed;
  bottom: 0;
  right: 1rem;
  font-size: .5rem;
}

.preloader {
  width: 10px;
  height: 10px;
  background-color: black;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.time {
  display: inline-block;
  background-color: white;
  padding: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, .1);
  border-radius: 6px;
  font-weight: 100;
  font-size: 2rem;
  width: 123px;
  text-align: center;
  cursor: crosshair;
}

.time-container {
  transition: transform .2s cubic-bezier(.25, .8, .25, 1);
}

.time-container:hover {
  transform: scale(1.3);
}

.times {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  margin: 0 -20px;
  margin-bottom: 30px;
}

.times>* {
  margin: 20px;
}
